
/*****General*****/

	nav a, nav a:active, nav a:visited, nav a:focus {
		color: #fff176;
		font-weight: bold;
	}

	:root {
		box-sizing: border-box;
	}

	#name{
		margin-bottom: 0px;
		text-align: center;
	}

	#title {
		margin-top: 0px;
		text-align: center;
	}

	main {
		min-height: 10em;
	}

/*****profile page******/
	
	.project-card {
		height: 33em;
		width: 25em;
		margin: 2em;
		text-align: center;
		padding: 1em;
		border-radius: 10%;
		background: #3a464b;
	}

	.project-card p {
		color: #fff176;
	}


	.project-pic {
		height: 220px;
		width: 85%;
		border-radius: 5%;
		margin-top: 1em;
	}


/*****app page******/

	.app-btn {
		color: #ef5350;
		text-align: center;
	}

	.active {
		font-weight: bold;
		font-style: italic;
	}


	.app-title {
		color: #fff176;
	}

	#buttons {
		margin: 1.5em;
	}
	@media (max-width: 510px){
		.app-btn{
			margin: .25em;
		}

	}

	.smallSum {
		text-align: center;
		color: #fff176;

	}
	/*****dice app******/

		.diceBlock {
			text-align: center;
			cursor: pointer;
			margin-top: 1.5em;
		}

		.diceBlock p {
			font-weight: bold;
			color: silver;
		    text-shadow: 0px -1px 0px rgba(0,0,0,.7);
			position: relative;
			font-size: 1.2rem;
		}


		#d20roll, #d12roll, #d4roll, #d6roll {
			top:-85px;
		}

		#d10roll, #d8roll  {
			top:-100px;
		}

		.row {
			margin-top: 2em;
		}


	/*****drawing app******/
		canvas {
			background: #fff;
			display: block;
			margin: 2em auto 1.5em;
			border-radius: 5px;
			box-shadow: 0 4px 0 0 #222;
			cursor: url(../img/cursor.png), crosshair;
		}
		.controls {
			min-height: 60px;
			margin: 0 auto;
			width: 600px;
			border-radius: 5px;
			overflow: hidden;
		}
		.controls ul {
			list-style:none;
			margin: 0;
			float: 	left;
			padding: 10px 0 20px;
			width: 100%;
			text-align: center;
		}

		.controls ul li, #newColor {
			display:block;
			height: 54px;
			width: 54px;
			border-radius: 60px;
			cursor: pointer;
			box-shadow: 0 3px 0 0 #222;
		}

		.controls ul li {
			display: inline-block;
			margin: 0 5px 10px;
		}

		.red {
			background: #fc4c4f;
		}

		.blue {
			background: #4fa3fc;
		}

		.yellow {
			background: #ECD13F;
		}

		.color-selected {
			border: 7px solid #fff;
			width: 40px;
			height: 40px;
		}
		.controls button {
			background: #68B25B;
			box-shadow: 0 3px 0 0 #6A845F;
			color: #fff;
			outline: none;
			cursor: pointer;
			text-shadow: 0 1px #6A845F;
			display: block;
			font-size: 16px;
			line-height: 40px;
		}

		/* New Color Palette */
		#colorSelect {
			background: #fff;
			border-radius: 5px;
			clear: both;
			margin: 20px auto 0;
			padding: 10px;
			width: 305px;
			position: relative;
				
			display:none;
		}
		#colorSelect:after {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 10px;
			margin-left: -10px;
		}

		#newColor {
			width: 80px;
			height: 80px;
			border-radius: 3px;
			box-shadow: none;
			float: left;
			border: none;
			margin: 10px 20px 20px 10px;

		}
		.sliders p {
			margin: 8px 0;
			vertical-align: middle;
		}
		.sliders label {
			display: inline-block;
			margin: 0 10px 0 0;
			width: 35px;
			font-size: 14px;
			color: #6D574E;
		}
		.sliders input {
			position: relative;
			top: 2px;
		}
		#colorSelect button {
			border: none;
			border-top: 1px solid #6A845F;
			border-radius: 0 0 5px 5px;
			clear: both;
			margin: 10px -10px -7px;
			padding: 5px 10px;
			width: 325px;
		}

	/*****flickr app******/

	.flickr-col {
		margin: 1em 0px;

	}
	.flickr-image{
		padding: 1em;
		height: 100%;
	}
	
	.search-button {
		background: #d81b60;
		color: #fff176;
		margin-top: 1.5em;
	}
	

	#search-box {
		text-align: center;
	}

	#photos li {
		height: 15em;
	}


	/*****cat facts app******/

	#fact-btn {
		max-width: 20em;
		margin: 2.5em auto;
	}

	#fact-display {
		color: #fff176;
		font-style: italic;
		margin-top: 5em;
		margin-bottom: 1em;
		font-size: 20px;
	}

	#tweet-container {
		margin-bottom: 10em;
		text-align: center;
	}
/*****about page******/
	

	
	.aboutme {
		background: #3a464b;

	}

	.aboutme p, li {
		color: #fff176;
		list-style: none;
	}

	h2, h3 {
		text-align: center
	}

	@media (min-width: 973px) {
		.about-block {
		float: left;
		}
		.aboutme {
		border-radius: 10%;
		min-width: 30em;
		padding: 1em;
		}
		#profile-pic{
		border-radius: 100%;
		height: 15em;
		margin: 1em;
		margin-left: 30%;
		}
	}

	@media (max-width: 972px) {
		.about-block {
		float: none;
		margin: 1em auto;
		}
		.aboutme{
		border-radius: 7%;
		min-width: 70%;
		padding: .75em;
		text-align: center;
		}
		.aboutme p {
			padding: .25em;
		}
		#profile-pic{
		border-radius: 100%;
		height: 15em;
		margin: 1em 35%
		}
	}
@media (max-width: 450px){
	.about-block {
		float: none;
		margin: 1em auto;
		}
		.aboutme{
		border-radius: 5%;
		min-width: 100%;
		}
		#profile-pic{
		border-radius: 100%;
		height: 15em;
		margin: 1em 35%
		}
	}

/*****footer******/

	footer {
		clear: both;
		text-align: center;
		margin-top: 1em;
	}

	.logo {
		border-radius: 100%;
		height: 1.75em;
	}
