
/*****nav bar******/
nav a, nav a:active, nav a:visited, nav a:focus {
	color: #fff176;
	font-weight: bold;
}

/*****header******/
#name{
	margin-bottom: 0px;
}

#title {
	margin-top: 0px;
}
/*****profile page******/

#racecal, #pokequiz  {
	height: 30em;
	width: 25em;
	margin: 2em;
	text-align: center;
	padding: 1em;
	border-radius: 15%;

}
#pokequiz {
	float: right;
}

#racecal p, #pokequiz p {
	color: #fff176;
}


.project-pic {
	height: 60%;
}

/*****app page******/

.app-btn {
	color: #ef5350;
}


/*****about page******/

.pro-pic{
	border-radius: 100%;
	height: 15em;
	margin-right: 1em;
	margin-left: 1em;

}

#about, #skills {
	height: 20em;
	width: 20em;
	margin: 2em;
	text-align: center;
	padding: 1em;
	border-radius: 15%;

}

#skills {
	float: right;
	clear: right;
}

#about {
	float: left;
	clear: left;
}

#about p, #skills p, #skills li {
	color: #fff176;
}


#main-about {
	display: inline-block;
	margin: 2.5em;
}
/*****footer******/

footer {
	clear: both;
	text-align: center;
}
.logo {
	border-radius: 100%;
	height: 1.75em;
}
