
/*****General*****/

	nav a, nav a:active, nav a:visited, nav a:focus {
		color: #fff176;
		font-weight: bold;
	}

	:root {
		box-sizing: border-box;
	}

	#name{
		margin-bottom: 0px;
		text-align: center;
	}

	#title {
		margin-top: 0px;
		text-align: center;
	}

	main {
		min-height: 10em;
	}

/*****profile page******/


	.project-card {
		height: 33em;
		width: 25em;
		margin: 3em;
		text-align: center;
		padding: 1em;
		border-radius: 10%;
		background: #3a464b;
	}

	.project-card p {
		color: #fff176;
	}


	.project-pic {
		height: 220px;
		width: 85%;
		border-radius: 5%;
		margin-top: 1em;
	}


/*****about page******/
	

	
	.aboutme {
		background: #3a464b;

	}

	.aboutme p, li {
		color: #fff176;
		list-style: none;
	}

	h2, h3 {
		text-align: center
	}

	@media (min-width: 973px) {
		.about-block {
		float: left;
		}
		.aboutme {
		border-radius: 10%;
		min-width: 30em;
		padding: 1em;
		}
		#profile-pic{
		border-radius: 100%;
		height: 15em;
		margin: 1em;
		margin-left: 30%;
		}
	}

	@media (max-width: 972px) {
		.about-block {
		float: none;
		margin: 1em auto;
		}
		.aboutme{
		border-radius: 7%;
		min-width: 70%;
		padding: .75em;
		text-align: center;
		}
		.aboutme p {
			padding: .25em;
		}
		#profile-pic{
		border-radius: 100%;
		height: 15em;
		margin: 1em 35%
		}
	}
@media (max-width: 450px){
	.about-block {
		float: none;
		margin: 1em auto;
		}
		.aboutme{
		border-radius: 5%;
		min-width: 100%;
		}
		#profile-pic{
		border-radius: 100%;
		height: 15em;
		margin: 1em 35%
		}
	}

/*****footer******/

	footer {
		clear: both;
		text-align: center;
		margin-top: 1em;
	}

	.logo {
		border-radius: 100%;
		height: 35px;
	}
