<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' type='text/css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css' >
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/normalize.css">
	<title> Dice Roller</title>
</head>
<body>
	<header>
		<h2>Multiple Side Dice Roller</h2>	
	</header>  
<section>
		<div class="diceBlock">
		<img src="img/d4.png" title="d4" alt="four sided die" id="d4" class="dice">
		<p id="d4roll"></p>
		</div>
		
		<div class="diceBlock">
		<img src="img/d6.png" title="d6" alt="six sided die" id="d6" class="dice">
		<p id="d6roll"></p>
		</div>

		<div class="diceBlock">
		<img src="img/d8.png" title="d8" alt="eight sided die" id="d8" class="dice">
		<p id="d8roll"></p>
		</div>

		<div class="diceBlock">
		<img src="img/d10.png" title="d10" alt="ten sided die" id="d10" class="dice">
		<p id="d10roll"></p>
		</div>

		<div class="diceBlock">
		<img src="img/d12.png" title="d12" alt="tweleve sided die" id="d12" class="dice">
		<p id="d12roll"></p>
		</div>

		<div class="diceBlock">
		<img src="img/d20.png" title="d20" alt="twenty sided die" id="d20" class="dice">
		<p id="d20roll"></p>
		</div>
</section>

<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/roll.js" type="text/javascript" charset="utf-8"> </script>

</body>
</html>