<div id="about-section"  class="row">
	<div class="half left">
		<h3>About Me</h3>
		<p> Hi I'm Brigette. I am an web developer living in the beautiful pacific northwest.  I am a huge geek/nerd so when I'm not coding I'm usually playing games, hanging out with my cat, or making stuff.</p>
		<p>I'm a coding geek and life long learner so I am constantly adding to my coding toolbelt. If you want to know more about my skill set just ask!</p> 
		<p>I am currently looking to break into the professional development field. Feel free to email me at <a href="mailto:brigete.eckert@live.com"> Brigette.Eckert@live.com </a> or reach out to me on social media.</p>
	</div>

	<img src= "http://bbeckert.com/img/Brigette.jpg" alt="Photo of Brigette Eckert at Pax" title="Ambushed by zombies at pax prime!" class="portrait" id="profile-pic"/>

	<div class="half right">
		<h3>Skills</h3>
		<ul class="skill-list">	
			<li>HTML5</li>
			<li>CSS3</li>
			<li>Bootstrap</li>
			<li>Sass</li>
			<li>JavaScript</li>
			<li>jQuery</li>
			<li>AngularJS</li>
			<li>AJAX</li>
			<li>Version Control</li>
			<li>Github</li>
			<li>Console</li>
			<li>npm</li>
			<li>Bower</li>
			<li>Responsive Web Design</li>
			<li>Accessibilty</li>
			<li>Algorithms</li>
			<li>Research</li>
			<li>Problem Solving</li>
	  </ul>		  
	  <h3> Resume </h3>
	  <ul class="skill-list"> Download</ul>
	</div>

</div>