<div class="grid-container centered">
    <div class="grid-100">
      <div class="contained">
        <div class="grid-100">
          <div class="heading">
            <h1>Flickr Photo Search</h1>
            <form>
              <label for="search">Type a search term</label>
              <input type="search" name="search" id="search">
              <input type="submit" value="Search" id="submit">
            </form>
            
          </div>
        </div>

        <ul id="photos">

        </ul>
      </div>
    </div>
  </div>

