<div id="questions">
	<div id="basic-qs" class="qs">
		<h3>About Me Questions</h3>
		<div ng-repeat="basic in basics" class="answers">
			<li> <b>Q: </b>{{basic.Q}} </li>
			<li> <b>A: </b>{{basic.A}} </li> 
		</div>
	</div> 

	<div id="behavioral-qs" class="qs">
		<h3>Behavioral Questions</h3>
		<div ng-repeat = "behavioral in behaviorals" class="answers">
			<li> <b> Q:</b>  {{behavioral.Q}} </li>
			<li> <b>A:</b>  {{behavioral.A}} </li> 
		</div>
	</div>

	<div id="carrer-qs" class="qs">
		<h3>Career Development Questions</h3>
		<div ng-repeat="carrer in carrers" class="answers">
			<li><b>Q:</b>  {{carrer.Q}}</li>
			<li><b>A:</b>  {{carrer.A}}</li>
		</div>
	</div>

	<div  id="tech-qs" class="qs">
		<h3>Technical Questions</h3>
		<div ng-repeat="technical in technicals" class="answers">
			<li><b>Q:</b>  {{technical.Q}}</li>
			<li><b>A:</b>  {{technical.A}}</li>
		</div>
	</div>

	<div id="carrer-qs" class="qs">
		<h3>Just for Fun Questions</h3>
		<div ng-repeat="fun in funzies" class="answers">
			<li><b>Q:</b>  {{fun.Q}}</li>
			<li><b>A:</b>  {{fun.A}}</li>
		</div>
	</div>